{% extends 'base.html' %}
{% block title %}Editar Perfil da Empresa{% endblock %}

{% block content %}
<div class="container">
    <h2>Editar Perfil da Empresa</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.descricao.label }}<br>
            {{ form.descricao(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
